@charset "utf-8";

h3{
    font-size: 28px;
    text-align:center;
    margin: 60px 0;
    /* background-color: aqua; */
}


/*                     ボタン                 */
.login_button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.top_login table{
    padding-top: 100px;
    margin:0 auto;
    /* background-color: rgb(233, 97, 181); */

}

.black_button{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #000;/* ボタンの色 */
    color:#fff;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.white_button{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #fff;/* ボタンの色 */
    color:#000;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.red_button{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #F15B47;/* ボタンの色 */
    color:#000;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}



/*                       ログイン                      */

.login_font{
    width: 160px;
    /* background-color: rgb(233, 97, 181); */
}

.top_login td{
    height: 40px;
    font-size: 20px;
    /* background-color: rgb(233, 97, 181); */
}

.top_login input[type=text],input[type=password]{
    width: 300px;
    height: 30px;
}


/*                     検索画面                         */
.search_table table{
    margin: 0 auto;
    /* background-color: rgb(233, 97, 181); */
}

.search_box table{
    margin: 50px;
}

.search_box p{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.search_button_td{
    text-align: right;
}

.search_box{
    border: 3px solid; /*四角い枠*/
    border: solid 3px #000000;  /*枠のカラー*/
    border-radius: 10px;    /*枠の丸み*/
}

.search_font{
    width: 200px;
}

.search_day input[type=text]{
    width: 30px;
}