<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/te.css" rel="stylesheet" type="text/css"></link>
    <link href="js/te.js" rel="stylesheet" type="text/js"></link>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>jQueryでバックグラウンドを無限ループ</h1>
        <p>
            このページはjQueryでバックグランド画像をアニメーションループさせるサンプルページです。
        </p>
    </div>
</body>
</html>